[server] 
port = 8501 
enableCORS = false 
enableXsrfProtection = true 
 
[browser] 
gatherUsageStats = false 
 
[theme] 
primaryColor = "#4CAF50" 
backgroundColor = "#FFFFFF" 
secondaryBackgroundColor = "#F0F2F6" 
textColor = "#31333F" 
font = "sans serif" 
